.main {
  margin: 33px 40px 171px 38px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main__weather-status {
  font-family: 'CabinetGrotesk-Variable';
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.main__list-items {
  display: flex;
  flex-wrap: wrap;
  width: calc(1344px + 50px);
  padding: 0;
}
