.main {
  margin: 33px 40px 171px 40px;
}

.main__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main__weather-status {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
