.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.modal__content {
  background-color: #fff;
  width: 496px;
  height: 436px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__btn-close {
  background-image: url("../images/btn-close.svg");
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
}

.modal__submit {
  background-color: #000;
  border: none;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  padding: 8px 16px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.modal__submit:hover {
  transition: ease-in-out 1s;
  background: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background: rgba(0, 0, 0, 0.3);
}

.modal__title {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
