.sidebar__info {
  display: flex;
}

.sidebar__avatar {
  margin-right: 16px;
}

.sidebar__user-name {
  font-family: "CabinetGrotesk-Variable";
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
}
